.home-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 20px;
}
.student-card{
    border:1px solid #ccc;
    border-radius:8px;
    padding:5px 10px;
    margin:10px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.1);
    width: 300px;
}
.student-name{
    font-size:15px;
    font-weight:bold;
    margin:0;
    margin-bottom:5px;
}
.student-info{
    font-size:13px;
    color:#555;
    margin:0;
    margin-bottom:5px;
}
.student-info-icon{
    vertical-align: middle;
    margin-right: 5px;
    width: 14px;
    height: 14px;
}