.student-card{
    border:1px solid #ccc;
    border-radius:8px;
    padding:10px;
    margin:10px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.1);
}
.student-name{
    font-size:1.2em;
    font-weight:bold;
    margin-bottom:5px;
}