
.App_Name{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin:0;
    
}
.App_Description{
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}